# Control plane DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/serverless_pg

# JWT
SECRET_KEY=change-me-to-a-32-byte-random-hex-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

# Kubernetes
K8S_IN_CLUSTER=false
KUBECONFIG_PATH=/home/user/.kube/config
ENVIRONMENT=dev
STORAGE_CLASS=standard

# Metering
METERING_INTERVAL_SECS=60
